body {
    margin: 0;
}



.title {
    font-family: 'Abril Fatface', cursive;
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
    padding-top: 5rem;
    padding-right: 2.5rem;
}

.top {
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(back.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.add {

    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.add__container {
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.add__description {
    width: 400px;
}

.add__value {
    width: 100px;
}

.add__btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.add__btn:active {
    transform: translateY(2px);
}

.add__type:focus,
.add__description:focus,
.add__value:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.add__btn:focus {
    outline: none;
}

.container {
    width: 1000px;
    margin: 60px auto;
}

.todo__description {
    position: relative;
    text-align: center;
}

#My-UL {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 2.5em;
    list-style: none;
    height: 350px;
    background: #f2eee5;
    padding: 15px 0 10px 30px;
    margin: 0;
}

li {
    border: 1px solid aliceblue;
    width: 20%;
    text-align: center;
    font-size: 20px;
    line-height: 2em;
    color: green;
    font-family: 'Raleway', sans-serif;
}


.checked {
    color: tomato;
}

.footer {
    display: block;
    height: 100px;
    flex-direction: row;
    background: #be7575;
    padding: 10px 10px 35px 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}