.title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
    padding-top: 5rem;
    padding-right: 2.5rem;
}

.top {
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(back.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.add {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.add__container {
    margin: 0 auto;
    text-align: center;
}

.add__description {
    width: 400px;
}

.add__value {
    width: 100px;
}

.add__btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.add__btn:active {
    transform: translateY(2px);
}

.add__type:focus,
.add__description:focus,
.add__value:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.add__btn:focus {
    outline: none;
}

.container {
    width: 1000px;
    margin: 60px auto;
}

.todo__description {
    position: relative;
    text-align: center;
}

#My-UL {
    margin-left: 50px;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 2em;
}


.checked {
    color: blueviolet;
}